# Python Basics

Hardik

Python Coding

In [2]:
print("Hello Sachin")

Hello Sachin

# Python Variable

In [2]:
var1 = "Python"
a = 35
b = 100
print(var1)
print(a)
print(b)

sum = a+b
print(sum)

Python
35
100
135

In [40]:
var1 = 50
var2 = 20
var3 = var1+var2
var3

70

In [41]:
var4 = var1*var2
var4

1000

In [42]:
var5 = var1-var2
var5

30

In [49]:
var6 = var1/var2
var6

2.5

In [20]:
count = 100
km = 1000
name = "Hardik"

print("My name is Hardik")
print(count,km,name)

My name is Hardik
100 1000 Hardik

In [22]:
count = 100
km = 1000
name = "Hardik"

print("My name is Hardik")
print(count,km,name,sep = ',')

My name is Hardik
100,1000,Hardik

In [23]:
count = 100
km = 1000
name = "Hardik"
a,b,c = 6,8,"Neotech"

print("My name is Hardik")
print(count,km,name,sep = ',')
print(a,b,c,sep = ',')

My name is Hardik
100,1000,Hardik
6,8,Neotech

In [24]:
a=b=c=1

a
b
c

print(a,b,c)

1 1 1

In [26]:
a=b=c=1

a
b
c

#print(a,b,c)

1

In [37]:
x,y,z = 8,10,96

z

96

In [38]:
del z

In [39]:
z

NameError: name 'z' is not defined

# Data Types

Numerical Data Types

In [51]:
a = 67
b = 99.9999
c = 3.14j
d = "Navratri"
e = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

# how to take input from user

In [53]:
#how to take input from user
#ask the user to enter the value of x and store it in variable x
x = int(input("Enter the value of x: "))

#ask the user to enter the value of y and store it in variable y
y = int(input("Enter the value of y: "))

#preform my mathametical operation on user input

z = x*y

#print the answer

z

Enter the value of x: 8
Enter the value of y: 16

128

# String

In [57]:
str1 = "I like Python programing"
str1

'I like Python programing'

In [65]:
str2 = " number one"
str2

' number one'

In [66]:
str3 = str1+str2
str3

'I like Python programing number one'

In [67]:
#string indexing and slicing
name = "university"
print(name)
print(len(name))

university
10

In [72]:
name[-10]

'u'

In [76]:
name = "Hello i am HARDIK TAILOR My hobby is Painting"
print(name)
print(len(name))

Hello i am HARDIK TAILOR My hobby is Painting
45

In [77]:
name = "Hello i am HARDIK TAILOR My hobby is Painting"
print(name)
print(len(name))

Hello i am HARDIK TAILOR My hobby is Painting
45

In [80]:
name[11]

'H'

In [82]:
name[12]

'A'

In [84]:
name[13]

'R'

In [85]:
name[14]

'D'

In [86]:
name[15]

'I'

In [87]:
name[16]

'K'

In [89]:
name[-22]

'R'

In [90]:
name[-23]

'O'

In [91]:
name[-24]

'L'

In [94]:
name[-25]

NameError: name 'name' is not defined

In [24]:
x=input("Enter the first value")
y=input("Enter the second value")

Enter the first value8
Enter the second value10

In [2]:
x+y

'810'

In [3]:
type(x)

str

# Tupels

In [4]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)
type(a)

tuple

In [5]:
a+b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
a*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [7]:
a[0]

1

In [8]:
a[0]=19

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [19]:
empl={}

In [20]:
type(empl)

dict

In [21]:
empl["name"]="HARDIK"
empl["age"]="24"
empl["Gender"]="M"
empl

{'name': 'HARDIK', 'age': '24', 'Gender': 'M'}

In [22]:
empl[0]

KeyError: 0

In [23]:
empl["name"]

'HARDIK'

In [24]:
empl.keys()

dict_keys(['name', 'age', 'Gender'])

In [25]:
empl.values()

dict_values(['HARDIK', '24', 'M'])

# Loops

### 1) While loop

In [26]:
count = 0
while(count < 9):
    print ("The count is:", count)
    count = count + 1
print("SEE YOU AGAIN")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
SEE YOU AGAIN

In [28]:
count = 0
while(count < 9):
    count = count + 1
    print("HARDIK")

HARDIK
HARDIK
HARDIK
HARDIK
HARDIK
HARDIK
HARDIK
HARDIK
HARDIK

### 2) While loop with else

In [29]:
count = 0
while count <5:
    print(count, "is less than 5")
    count = count + 1
else:
    print(count, "is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

### 3) For Loop

In [30]:
for letter in 'Python':
    print('Current Latter :', letter)

Current Latter : P
Current Latter : y
Current Latter : t
Current Latter : h
Current Latter : o
Current Latter : n

In [32]:
fruits = ['Mango', 'Pinaple', 'Banana']
for fruit in fruits:
    print('current fruit :', fruit)
    
print("Good bye!")

current fruit : Mango
current fruit : Pinaple
current fruit : Banana
Good bye!

In [33]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 4) For loop with esle

In [41]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
            break
        else:
            print(num, "is a prime number")
            break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [44]:
from math import pi
pi

3.141592653589793

In [45]:
pi

3.141592653589793

In [52]:
r = 10
area = pi*r*r
print("Area of circle is:", area)

Area of circle is: 314.1592653589793

### Conditional Statement

In [53]:
#if statement

num = 5
if num>0:
    print(num, 'is possition number')
print('statement is true')

5 is possition number
statement is true

In [57]:
#if statement

num = 1
if num>0:
    print(num, 'is possition number')
else:
    print('statement is true')

1 is possition number

In [68]:
#if statement

num = -8
if num>0:
    print(num, 'is possition number')
else:
    print('statement is true')

statement is true

In [66]:
#if statement

num = 0
if num>=0:
    if num == 0:
        print(num, 'is Zero')
    else:
        print(num, 'is possition number')
else:
    print('statement is true')

0 is Zero

In [69]:
#if statement

num = 9
if num>=0:
    if num == 0:
        print(num, 'is Zero')
    else:
        print(num, 'is possition number')
else:
    print('statement is true')

9 is possition number

# calculator

In [86]:
#create function for each operation
#this function add two number

def add(x,y):
    return x+y

#this function subtraction two number

def subtract(x,y):
    return x-y

#this function multiply two number

def multiply(x,y):
    return x*y

#this function divide two number

def divide(x,y):
    return x/y

print("Select operation")
print("1. Addition")
print("2. Subtraction")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice (1/2/3/4): ")

num1 = int (input("Enter the first number: "))
num2 = int (input("Enter the second number: "))

if choice == '1':
    print(num1, '+', num2, add(num1,num2))
elif choice == '2':
    print(num1, '-', num2, subtraction(num1,num2))
elif choice == '3':
    print(num1, '*', num2, multiply(num1,num2))
elif choice == '4':
    print(num1, '/', num2, divide(num1,num2))
else:
    print("Invalide Input")

Select operation
1. Addition
2. Subtraction
3. Multiply
4. Divide
Enter choice (1/2/3/4): 1
Enter the first number: 2
Enter the second number: 3
2 + 3 5